.link-Lime{
	-fx-text-fill:#A1D48F;
}
.link-Purple{
	-fx-text-fill:#AE84E4;
}
.link-Turquoise{
	-fx-text-fill:#1DDECB;
}
.link-Blue{
	-fx-text-fill:#627D98;
}
.link-Orange{
	-fx-text-fill:#FFA500;
}
 /* --------------- Button ------------------------------- */
 
 .btn-white-Lime{
 	-fx-background-color:#A1D48F;
 	-fx-border-color:#121212;
 	-fx-text-fill:#121212;
 	-fx-text-fill:#121212;
 	 -fx-border-radius: 5;
   
 }
 
 .btn-white-Lime:disabled{
  	 -fx-opacity : 0.4;
   
 }
 
 .btn-white-Purple{
 	-fx-background-color:#AE84E4;
 	-fx-border-color:#121212;
 	-fx-text-fill:#121212;
 	 -fx-border-radius: 4;
    
 }
 
 .btn-white-Purple:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-white-Turquoise{
 	-fx-background-color:#1DDECB;
 	 -fx-border-color:#121212;
 	 -fx-text-fill:#121212;
 	 -fx-border-radius: 5;
    }
  
    .btn-white-Turquoise:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-white-Blue{
 	-fx-background-color:#627D98;
 	 -fx-border-color:#121212;
 	 -fx-border-radius: 5;
 	 -fx-text-fill:#121212;
    }
 
 .btn-white-Blue:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-white-Orange{
 	-fx-background-color:#FFA500;
 	 -fx-border-color:#121212;
 	 -fx-border-radius: 5;
 	 -fx-text-fill:#121212;
    }
 
 .btn-white-Orange:disabled{
 	-fx-opacity : 0.4;
 }
 
  .btn-dark-Lime{
 	-fx-background-color:#A1D48F;
 	 -fx-border-radius: 5;
 	 -fx-text-fill:#121212;
  }
 
 .btn-dark-Lime:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-dark-Purple{
 	-fx-background-color:#AE84E4;
 	 -fx-border-radius: 5;
 	 -fx-text-fill:#121212;
   }
 
 .btn-dark-Purple:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-dark-Turquoise{
 	-fx-background-color:#1DDECB;
 	 -fx-border-radius: 5;
 	 -fx-text-fill:#121212;
   }
 
 .btn-dark-Turquoise:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-dark-Blue{
 	-fx-background-color:#627D98;
 	 -fx-border-radius: 5;
 	 -fx-text-fill:#121212;
 }
 
 .btn-dark-Blue:disabled{
 	-fx-opacity : 0.4;
 }
 
 .btn-dark-Orange{
 	-fx-background-color:#FFA500;
 	-fx-text-fill:#121212;
 	 -fx-border-radius: 5;
 }
 
.btn-dark-Orange:disabled{
 	-fx-opacity : 0.4;
 }
.toggle-Lime {
	-jfx-toggle-line-color: #A1D48F;
	
}
.toggle-Purple{
	-jfx-toggle-line-color: #AE84E4;
}
.toggle-Turquoise{
	-jfx-toggle-line-color: #1DDECB;
}
.toggle-Blue{
	-jfx-toggle-line-color: #627D98;
}
.toggle-Orange{
	-jfx-toggle-line-color: #FFA500;
}

 /* ---------------Combobox White---------------- */
 
 .combo-box-base{
	/*-fx-background-radius: 5, 5, 4, 0;
		-fx-border-radius: 5, 5, 4, 0;*/
		-fx-focus-color:transparent;
		-fx-faint-focus-color:transparent;
}
 
 .cmbbox-white-Lime .list-cell{
 	
 	/*-fx-border-color:#A1D48F;*/
 	-fx-border-color:transparent;
 	
 }
 .cmbbox-white-Lime .list-view{
 	-fx-background-color:#A1D48F;
 	-fx-border-width:0.3px;
 }
 .cmbbox-white-Lime{
 	-fx-border-color:#A1D48F;
 	-fx-accent:#A1D48F;
 	-fx-border-width:0.6px;
 }
 
 .cmbbox-white-Lime .list-cell:hover{
 	-fx-border-color:#A1D48F;
	-fx-background-color:#A1D48F;
	-fx-border-width:0.1px;
 }
 
 .cmbbox-white-Lime .text-input {
 	
 	-fx-border-color:#A1D48F;
 	-fx-border-width:0.6px;
 }
 .cmbbox-white-Lime .arrow-button{
 	
 	-fx-padding: 0 -0.09em 0 0;
 	-fx-border-color:#A1D48F;
 	-fx-border-width:0.6px;	
 }
 
 .cmbbox-white-Lime .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-white-Lime .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}

/* .cmbbox-white-Purple .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
 	
 }  */
 
 .cmbbox-white-Purple .list-cell{
 	
 	/*-fx-border-color:#AE84E4;*/
 	-fx-border-color:transparent;
 	
 }
 .cmbbox-white-Purple .list-view{
 	-fx-background-color:#AE84E4;
 	-fx-border-width:0.3px;
 }
 .cmbbox-white-Purple{
 	-fx-border-color:#AE84E4;
 	-fx-accent:#AE84E4;
 	-fx-border-width:0.6px;
 }
 
 .cmbbox-white-Purple .list-cell:hover{
 	-fx-border-color:#AE84E4;
	-fx-background-color:#AE84E4;
	-fx-border-width:0.1px;
 }
 
 .cmbbox-white-Purple .text-input {
 	
 	-fx-border-color:#AE84E4;
 	-fx-border-width:0.6px;
 }
 .cmbbox-white-Purple .arrow-button{
 	
 	-fx-padding: 0 -0.12em 0 0;
 	-fx-border-color:#AE84E4;
 	-fx-border-width:0.6px;	
 }
 
 .cmbbox-white-Purple .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-white-Purple .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 /*.cmbbox-white-Turquoise .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
 	
 }*/
 
   .cmbbox-white-Turquoise .list-cell{
 	
 	/*-fx-border-color:#1DDECB;*/
 	-fx-border-color:transparent;
 	
 }
 .cmbbox-white-Turquoise .list-view{
 	-fx-background-color:#1DDECB;
 	-fx-border-width:0.3px;
 }
 .cmbbox-white-Turquoise{
 	-fx-border-color:#1DDECB;
 	-fx-accent:#1DDECB;
 	-fx-border-width:0.6px;
 }
 
 .cmbbox-white-Turquoise .list-cell:hover{
 	-fx-border-color:#1DDECB;
	-fx-background-color:#1DDECB;
	-fx-border-width:0.1px;
 }
 
 .cmbbox-white-Turquoise .text-input {
 	
 	-fx-border-color:#1DDECB;
 	-fx-border-width:0.6px;
 }
 .cmbbox-white-Turquoise .arrow-button{
 	
 	-fx-padding: 0 -0.12em 0 0;
 	-fx-border-color:#1DDECB;
 	-fx-border-width:0.6px;	
 }
 
 .cmbbox-white-Turquoise .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-white-Turquoise .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 /*.cmbbox-white-Blue .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
 	
 }*/
 
 .cmbbox-white-Blue .list-cell{
 	
 	/*-fx-border-color:#627D98;*/
 	-fx-border-color:transparent;
 	
 }
 .cmbbox-white-Blue .list-view{
 	-fx-background-color:#627D98;
 	-fx-border-width:0.3px;
 }
 .cmbbox-white-Blue{
 	-fx-border-color:#627D98;
 	-fx-border-width:0.6px;
 	-fx-accent:#627D98;
 }
 
 .cmbbox-white-Blue .list-cell:hover{
 	-fx-border-color:#627D98;
 	-fx-border-width:0.1px;
	-fx-background-color:#627D98;
 }
 
 .cmbbox-white-Blue .text-input {
 	
 	-fx-border-color:#627D98;
 	-fx-border-width:0.6px;
 }
 .cmbbox-white-Blue .arrow-button{
 	
 	-fx-padding: 0 -0.12em 0 0;
 	-fx-border-color:#627D98;
 	-fx-border-width:0.6px;	
 }
 
 .cmbbox-white-Blue .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-white-Blue .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 
 /*.cmbbox-white-Orange .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
 	
 	
 } */
 
 .cmbbox-white-Orange .list-cell{
 	
 	-fx-border-color:transparent;
 	
 }
 .cmbbox-white-Orange .list-view{
 	-fx-background-color:#FFA500;
 	-fx-border-width:0.3px;
 }
 .cmbbox-white-Orange{
 	-fx-border-color:#FFA500;
 	/*-fx-border-width:0.6px;*/
 	-fx-accent:#FFA500;
 }
 
 .cmbbox-white-Orange .list-cell:hover{
 	-fx-border-color:#FFA500;
 	-fx-border-width:0.1px;
	-fx-background-color:#FFA500;
 }
 
 .cmbbox-white-Orange .text-input {
 	
 	-fx-border-color:#FFA500;
 	-fx-border-width:0.6px;
 }
 .cmbbox-white-Orange .arrow-button{
 	
 	-fx-padding: 0 -0.12em 0 0;
 	-fx-border-color:#FFA500;	
 	-fx-border-width:0.1px;
 	-fx-background-color:white;
 }
 
 .cmbbox-white-Orange .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-white-Orange .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 
 /*.cmbbox-dark-Lime{
 	
 }  */
 
 .cmbbox-dark-Lime .list-cell{
 	
 	/*-fx-border-color:#A1D48F;*/
 	-fx-border-color:transparent;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 	
 }
 .cmbbox-dark-Lime .list-view{
 	-fx-background-color:#A1D48F;
 	-fx-border-width:0.3px;
 }
 .cmbbox-dark-Lime{
 	-fx-border-color:#A1D48F;
 	-fx-border-width:0.6px;
 	-fx-accent:#A1D48F;
 }
 
 .cmbbox-dark-Lime .list-cell:hover{
 	-fx-border-color:#A1D48F;
 	-fx-border-width:0.1px;
	-fx-background-color:#A1D48F;
 }
 
 .cmbbox-dark-Lime .text-input {
 	
 	-fx-border-color:#A1D48F;
 	-fx-border-width:0.6px;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 }
 .cmbbox-dark-Lime .arrow-button{
 	
 	-fx-padding: 0 -0.09em 0 0;
 	-fx-border-color:#A1D48F;
 	-fx-border-width:0.6px;	
 }
 
 .cmbbox-dark-Lime .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-dark-Lime .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 /*.cmbbox-dark-Purple{
 	
 }  */
 
 .cmbbox-dark-Purple .list-cell{
 	
 	/*-fx-border-color:#AE84E4;*/
 	-fx-border-color:transparent;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 	
 }
 .cmbbox-dark-Purple .list-view{
 	-fx-background-color:#AE84E4;
 	-fx-border-width:0.3px;
 }
 .cmbbox-dark-Purple{
 	-fx-border-color:#AE84E4;
 	-fx-border-width:0.6px;
 	-fx-accent:#AE84E4;
 }
 
 .cmbbox-dark-Purple .list-cell:hover{
 	-fx-border-color:#AE84E4;
 	-fx-border-width:0.1px;
	-fx-background-color:#AE84E4;
 }
 
 .cmbbox-dark-Purple .text-input {
 	
 	-fx-border-color:#AE84E4;
 	-fx-border-width:0.6px;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 }
 .cmbbox-dark-Purple .arrow-button{
 	
 	-fx-padding: 0 -0.09em 0 0;
 	-fx-border-color:#AE84E4;
 	-fx-border-width:0.6px;	
 }
 
 .cmbbox-dark-Purple .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-dark-Purple .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 
/* .cmbbox-dark-Turquoise{
 	
 } */
 
   .cmbbox-dark-Turquoise .list-cell{
 	
 	/*-fx-border-color:#1DDECB;*/
 	-fx-border-color:transparent;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 	
 }
 .cmbbox-dark-Turquoise .list-view{
 	-fx-background-color:#1DDECB;
 	-fx-border-width:0.3px;
 }
 .cmbbox-dark-Turquoise{
 	-fx-border-color:#1DDECB;
 	-fx-border-width:0.6px;	
 	-fx-accent:#1DDECB;
 }
 
 .cmbbox-dark-Turquoise .list-cell:hover{
 	-fx-border-color:#1DDECB;
 	-fx-border-width:0.1px;	
	-fx-background-color:#1DDECB;
 }
 
 .cmbbox-dark-Turquoise .text-input {
 	
 	-fx-border-color:#1DDECB;
 	-fx-border-width:0.6px;	
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 }
 .cmbbox-dark-Turquoise .arrow-button{
 	
 	-fx-padding: 0 -0.09em 0 0;
 	-fx-border-color:#1DDECB;
 	-fx-border-width:0.6px;		
 }
 
 .cmbbox-dark-Turquoise .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-dark-Turquoise .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 /*.cmbbox-dark-Blue .list-cell .list-cell:hover{
 	
 	
 } */
 
 .cmbbox-dark-Blue .list-cell{
 	
 	/*-fx-border-color:#627D98;*/
 	-fx-border-color:transparent;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 	
 }
 .cmbbox-dark-Blue .list-view{
 	-fx-background-color:#627D98;
 	-fx-border-width:0.3px;	
 }
 .cmbbox-dark-Blue{
 	-fx-border-color:#627D98;
 	-fx-border-width:0.6px;	
 	-fx-accent:#627D98;
 }
 
 .cmbbox-dark-Blue .list-cell:hover{
 	-fx-border-color:#627D98;
 	-fx-border-width:0.1px;	
	-fx-background-color:#627D98;
 }
 
 .cmbbox-dark-Blue .text-input {
 	
 	-fx-border-color:#627D98;
 	-fx-border-width:0.6px;	
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 }
 .cmbbox-dark-Blue .arrow-button{
 	
 	-fx-padding: 0 -0.09em 0 0;
 	-fx-border-color:#627D98;
 	-fx-border-width:0.6px;		
 }
 
 .cmbbox-dark-Blue .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-dark-Blue .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
 /* .cmbbox-dark-Orange{
 	
 	
 } */
 
  .cmbbox-dark-Orange .list-cell{
 	
 	/*-fx-border-color:#FFA500;*/
 	-fx-border-color:transparent;
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 	
 }
 .cmbbox-dark-Orange .list-view{
 	-fx-background-color:#FFA500;
 	-fx-border-width:0.3px;	
 }
 .cmbbox-dark-Orange{
 	-fx-border-color:#FFA500;
 	-fx-border-width:0.6px;	
 	-fx-accent:#FFA500;
 }
 
 .cmbbox-dark-Orange .list-cell:hover{
 	-fx-border-color:#FFA500;
 	-fx-border-width:0.1px;	
	-fx-background-color:#FFA500;
 }
 
 .cmbbox-dark-Orange .text-input {
 	
 	-fx-border-color:#FFA500;
 	-fx-border-width:0.6px;	
 	-fx-background-color:#121212;
 	-fx-text-fill:white;
 }
 .cmbbox-dark-Orange .arrow-button{
 	
 	-fx-padding: 0 -0.09em 0 0;
 	-fx-border-color:#FFA500;
 	-fx-border-width:0.6px;		
 }
 
 .cmbbox-dark-Orange .combo-box-base{	
 	-fx-background-radius: 5, 5, 4, 0;
	-fx-border-color:transparent;
	-fx-border-radius: 5, 5, 4, 0;
 }
 
 .cmbbox-dark-Orange .combo-box-base:disabled{
 
	    -fx-opacity: .4;	
}
 
/*------- Checkbox White -------- */

.check-box{
		 -fx-label-padding: 5;
		-fx-focus-color:transparent;
		-fx-faint-focus-color:transparent;
}
/* --------- Checkbox Lime ----------- */

.chkbox-white-Lime .box {

-fx-background-color: white;
-fx-border-color: #A1D48F;
-fx-border-radius:5px; 

}

.chkbox-white-Lime:selected .mark {

-fx-background-color: white;
-fx-padding: 1em 1em 0 0;
}

.chkbox-white-Lime:selected .box {

-fx-background-color:#A1D48F;
-fx-border-color: #A1D48F;
}

/* -------- CheckBox Purple --------- */


.chkbox-white-Purple .box {

-fx-background-color: white;
-fx-border-color: #AE84E4;
-fx-border-radius:5px; 

}

.chkbox-white-Purple:selected .mark {

-fx-background-color: white;
-fx-padding: 1em 1em 0 0;
}

.chkbox-white-Purple:selected .box {
-fx-background-color:#AE84E4;
-fx-border-color: #AE84E4;
}

/* -------- CheckBox Turquoise --------- */


.chkbox-white-Turquoise .box {

-fx-background-color: white;
-fx-border-color: #1DDECB;
-fx-border-radius:5px; 

}

.chkbox-white-Turquoise:selected .mark {

-fx-background-color: white;
-fx-padding: 1em 1em 0 0;
}

.chkbox-white-Turquoise:selected .box {

-fx-background-color: #1DDECB;
-fx-border-color: #1DDECB;
}


/* -------- CheckBox Blue --------- */


.chkbox-white-Blue .box {

-fx-background-color: white;
-fx-border-color: #627D98;
-fx-border-radius:5px; 

}

.chkbox-white-Blue:selected .mark {

-fx-background-color: white;
-fx-padding: 1em 1em 0 0;
}

.chkbox-white-Blue:selected .box {

-fx-background-color: #627D98;
-fx-border-color: #627D98;
}


/* -------- CheckBox Orange --------- */


.chkbox-white-Orange .box {

-fx-background-color: white;
-fx-border-color: #FFA500;
-fx-border-radius:5px; 

}

.chkbox-white-Orange:selected .mark {

-fx-background-color: white;
-fx-padding: 1em 1em 0 0;
}

.chkbox-white-Orange:selected .box {

-fx-background-color: #FFA500;
-fx-border-color: #FFA500;
}


/*------- Checkbox Dark -------- */




/*------- Checkbox Lime -------- */


.chkbox-dark-Lime {
	-fx-text-fill:white;
}

.chkbox-dark-Lime .box {

-fx-background-color: #121212;
-fx-border-color: #A1D48F;
-fx-border-radius:5px; 

}

.chkbox-dark-Lime:selected .mark {

-fx-background-color: #121212;
-fx-padding: 1em 1em 0 0;
}

.chkbox-dark-Lime:selected .box {

-fx-background-color: #A1D48F;
-fx-border-color: #A1D48F;
}

/* -------- CheckBox Purple --------- */


.chkbox-dark-Purple {
	-fx-text-fill:white;
}

.chkbox-dark-Purple .box {

-fx-background-color: #121212;
-fx-border-color: #AE84E4;
-fx-border-radius:5px; 

}

.chkbox-dark-Purple:selected .mark {

-fx-background-color: #121212;
-fx-padding: 1em 1em 0 0;

}

.chkbox-dark-Purple:selected .box {

-fx-background-color: #AE84E4;
-fx-border-color: #AE84E4;
}

/* -------- CheckBox Turquoise --------- */


.chkbox-dark-Turquoise {
	-fx-text-fill:white;
}

.chkbox-dark-Turquoise .box {

-fx-background-color: #121212;
-fx-border-color: #1DDECB;
-fx-border-radius:5px; 

}

.chkbox-dark-Turquoise:selected .mark {

-fx-background-color: #121212;
-fx-padding: 1em 1em 0 0;

}

.chkbox-dark-Turquoise:selected .box {

-fx-background-color: #1DDECB;
-fx-border-color: #1DDECB;
}


/* -------- CheckBox Blue --------- */


.chkbox-dark-Blue {
	-fx-text-fill:white;
}

.chkbox-dark-Blue .box {

-fx-background-color: #121212;
-fx-border-color: #627D98;
-fx-border-radius:5px; 

}

.chkbox-dark-Blue:selected .mark {

-fx-background-color: #121212;
-fx-padding: 1em 1em 0 0;
}

.chkbox-dark-Blue:selected .box {

-fx-background-color: #627D98;
-fx-border-color: #627D98;
}


/* -------- CheckBox Orange --------- */


.chkbox-dark-Orange {
	-fx-text-fill:white;
}

.chkbox-dark-Orange .box {

-fx-background-color: #121212;
-fx-border-color: #FFA500;
-fx-border-radius:5px; 

}

.chkbox-dark-Orange:selected .mark {

-fx-background-color: #121212;
-fx-padding: 1em 1em 0 0;
}

.chkbox-dark-Orange:selected .box {

-fx-background-color: #FFA500;
-fx-border-color: #FFA500;
}

/* --------- Label Dark ----------- */

.lbl-dark{
	-fx-text-fill:white;
	-fx-background:#232323;
}

.lbl-dark:disabled{
	-fx-opacity: .4;
}

/* --------- Label White ----------- */

.lbl-white{
	-fx-text-fill:black;
	-fx-background:white;
}

.lbl-white:disabled{
	-fx-opacity: .4;
}
